LICENSE
README.md
udar/udar_tags.tsv
udar/resources/analyser-gt-desc-L2.hfstol
udar/resources/analyser-gt-desc.hfstol
udar/resources/tokeniser-disamb-gt-desc.pmhfst
udar/resources/generator-gt-norm.hfstol
udar/resources/generator-gt-norm.accented.hfstol
udar/resources/disambiguator.cg3
